.audio-image {
    max-width: 100%;
    border-radius: 35px;
    margin-top: -10px;
}

.audio-title {
    font-size: 20px;
    font-weight: bold;
}

.artist-name {
    margin-top: -10px;
    margin-bottom: 0px;
}

.audio-link {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
}

body {
    background-color: #f5f8ff;
    font-family: "GT Haptik Regular";
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    width: 300px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 45px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #1C274C 10px 10px 20px,
    #ffffff -10px -10px 20px;
}

.song-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 720px) {
    .song-row {
        flex-direction: column;
        margin-bottom: 20px;
    }
}