.audio-image {
    max-width: 100%;
    border-radius: 30px;
}

.audio-title {
    font-size: 20px;
    font-weight: bold;
}

.artist-name {
    margin-top: -10px;
    margin-bottom: 0px;
}

.audio-link {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

body {
    background-color: #f5f8ff;
    font-family: "GT Haptik Regular";
    height: 100vh;
    margin: 0;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 45px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #1C274C 10px 10px 20px,
    #ffffff -10px -10px 20px;
}